@charset "UTF-8";
/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
	font-size:50px;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
	
}
nav {
    background: #6c1ef4;
    padding: 0 25px;
}
a {
    color: white;
    text-decoration: none;
}
.menu,
.submenu {   
    list-style-type: none;
}
.logo {
    font-size: 30px;
    padding: 7.5px 10px 7.5px 0;
	font-weight: bolder;
}
.item {
    padding: 10px;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}
/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
}
.item.button {
    order: 2;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}
.button.secondary { /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
    display: none;
}
.submenu-active .submenu {
   display: block;
}
.has-submenu i {
    font-size: 12px;
}
.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f078";
    color: white;
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: #111;
    border-radius: 3px;
}

  .aboutheader {
            padding-top: 50px;
        padding-bottom: 55px;
            background: #6c1ef4;
            text-align: center;
            color: white;
            border-radius: 16px;
            box-shadow: 3px 5px 10px #e6e6e6;
        border: 2px #F5F5F5;
        border-style: solid;
	  font-size: 50px;
	  font-weight: bold;
	  margin-left: 20px;
	  margin-right: 20px
	  
        }

.infosection {
            padding-top: 50px;
        padding-bottom: 55px;
	padding-left:20px;
	padding-right:20px;
            background: #ffffff;
            text-align: center;
            color: black;
            border-radius: 16px;
            box-shadow: 3px 5px 10px #e6e6e6;
        border: 2px #F5F5F5;
        border-style: solid;
	  font-size: 20px;
	  font-weight: bold;
	 margin-left: 20px;
	  margin-right: 20px
}

.storysection {
            padding-top: 50px;
        padding-bottom: 55px;
	padding-left:20px;
	padding-right:20px;
            background: #6c1ef4;
            text-align: center;
            color: white;
            border-radius: 16px;
            box-shadow: 3px 5px 10px #e6e6e6;
        border: 2px #F5F5F5;
        border-style: solid;
	  font-size: 20px;
	  font-weight: bold;
	 margin-left: 20px;
	  margin-right: 20px
}
.reviewssection {
            padding-top: 50px;
        padding-bottom: 55px;
	padding-left:20px;
	padding-right:20px;
            background: #ffffff;
            text-align: center;
            color: #6c1ef4;
            border-radius: 16px;
            box-shadow: 3px 5px 10px #e6e6e6;
        border: 2px #F5F5F5;
        border-style: solid;
	  /*font-size: 20px;*/
	  font-weight: bold;
	 margin-left: 20px;
	  margin-right: 20px
}
.teamsection {
            padding-top: 50px;
        padding-bottom: 55px;
	padding-left:20px;
	padding-right:20px;
            background: #00305b;
            text-align: center;
            color: #white;
            border-radius: 16px;
            box-shadow: 3px 5px 10px #e6e6e6;
        border: 2px #F5F5F5;
        border-style: solid;
	  font-size: 50px;
	  font-weight: bold;
	 margin-left: 20px;
	  margin-right: 20px
}
.footer {
   /*position: fixed;*/
   left: 0;
	bottom: 0;
	padding-top: 15px;
	padding-bottem: 20px;
   width: 100%;
   background-color: #6c1ef4;
   color: white;
   text-align: center;
}
@media {
}
